<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Cham Manganti is a DevOps Engineer who works on things like CI/CD, kubernetes, cloud, automation, monitoring, and software engineering."
    />
    <title>Cham Manganti | Blogs</title>
    <link rel="icon" type="image/x-icon" href="../favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../style.css" />
  </head>
  <body class="bg-black text-white">
    <div
      class="fixed z-40 left-0 top-0 right-0 px-8 bg-black/50 backdrop-blur-lg"
    >
      <header class="flex items-center justify-between h-16">
        <a class="flex items-center space-x-2" href="/">
          <img class="h-8" src="../logo.jpg" alt="Logo" />
          <p class="font-semibold">{{ author }}</p>
        </a>
        <nav class="text-sm">
          <ul class="flex justify-center space-x-2">
            <li>
              <a
                class="px-3 py-1.5 bg-transparent rounded-md border border-transparent text-white/70 transition-colors hover:bg-white/20 hover:text-white hover:border-white/10"
                href="/"
                >Home</a
              >
            </li>
            <li>
              <a
                class="px-3 py-1.5 bg-transparent rounded-md border border-transparent text-white/70 transition-colors hover:bg-white/20 hover:text-white hover:border-white/10"
                href="/blogs.html"
                >Blogs</a
              >
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <div class="shrink-0 h-16"></div>

    <div class="mx-auto px-8 pt-8 sm:px-16 md:px-32 lg:px-64">
      <div class="space-y-2">
        <p class="text-slate-400">{{ date }}</p>
        <h1 class="text-3xl sm:text-5xl font-bold">{{ title }}</h1>
      </div>
      <div class="my-8">
        <img
          class="w-full max-h-96 bg-contain object-cover rounded-md"
          src="../blog_images/{{ image }}"
          alt="Placeholder"
        />
      </div>
      <div class="blog-content">{{ content }}</div>
    </div>
  </body>
</html>
